/*header*/
*{
	font-family:"Microsoft Yahei";
}

#nav{
	height:72px;
	background:#07111b;
	position:relative;
}

.logo{
	float:left;
	margin:0 20px;
}

.logo a{
	display:block;
	height:72px;
	width:140px;
	background:url(http://class.imooc.com/static/module/common/img/logo.png?t=2.3) center center no-repeat;
}

.l{
	float:left;
}

ul{
	list-style:none;
	margin:0;
	padding:0;
}

.nav-item li{
	float:left;
}

.nav-item a{
    position:relative;
    padding:0 25px;
    display:block;
    font-size:16px;
    color:rgba(255,255,255,.6);
    height:72px;
    line-height:72px;
    text-align:center;
}

.nav-item .combat-title {
	color:#fff;
}

.nav-item a:hover{
	color:#fff;
	text-decoration:none;
}


.search-wrap{
    float:left;
    position:relative;
    margin-left:25px;
    height:72px;
}

.search-area{
	float:left;
	position:relative;
	height:46px;
	width:300px;
	margin-top:12px;
	margin-bottom:12px;
	padding-right:40px;
	border-bottom:1px solid #000;
	border-bottom-color:rgba(255,255,255,.4);
}

.search-input{
	float:left;
	width:100%;
	padding:14px 0;
	color:#fff;
	font-size:12px;
	background:#07111b;
	border:none;
	outline:none;
}

.search-tags{
	display:block;
	position:absolute;
	z-index:100;
	right:40px;
	bottom:24px;

}

.search-tags a{
	margin-left:8px;
	padding:3px 8px;
	color:rgba(255,255,255,.6);
	background-color:rgba(255,255,255,0.1);
	border-radius:12px;
	font-size:12px;
	line-height:24px;
	text-decoration:none;
}

.search-tags a:hover{
	color:#fff;
	background-color:rgba(255,255,255,.2);
}

.search-wrap .search-icon{
	float:left;
	width:36px;
	height:24px;
	text-align:right;
	position:absolute;
	display:block;
	right:0;
	bottom:24px;
	padding:0 8px;
	border-radius:18px;
}

.search-icon i{
	display:block;
	height:24px;
    color:#757a7e;
    line-height:24px;
    text-align:center;
    width:20px;
}

.search-icon:hover{
	background-color:rgba(240,20,20,.4);;
}

.search-icon:hover i{
	color:rgba(240,20,20,.9);
}

#login-area{
	float: right;
	position: relative;
}

.header-unlogin{
	display: block;
}

.header-unlogin li{
    float: left;
    height: 72px;
    line-height: 72px;
	margin-right: 12px;
	position: relative;
	color: rgba(255,255,255,.6);
}

.app-load a,
.shop-cart a{
	width: 60px;
	height: 72px;
    line-height: 72px;
	padding: 0 15px;
	font-size: 14px;
	color: rgba(255,255,255,.6);
	text-decoration: none;
}

.unlogin a{
    /*width:60px;*/
    display: inline-block;
    width: auto;
    padding: 0 12px;
	height: 72px;
    line-height: 72px;
	font-size: 14px;
	/*text-align:center;*/
	color: rgba(255,255,255,.6);
	text-decoration: none;
}

.shop-cart .shop-cart-icon{
	display: inline-block;
	padding: 0 20px;
	width: auto;
	border: 1px solid rgba(255,255,255,.2);
	border-radius: 18px;
	height: 36px;
	line-height: 34px;
}

.shop-cart .fa.fa-shopping-cart{
	position: relative;
	font-size: 14px;
	margin-right: 8px;
}

.shop-cart .span{
	font-size: 14px;
}

.app-load:hover a{
    color: #fff;
}

.shop-cart a:hover{
	color: #fff;
}

.unlogin a:hover{
	color: rgba(240,20,20,.8);
}

.nav-item .question-user {
    color: #fff;
}

/*main*/
#main {
	padding-top: 0;
}

.question {
	width: 1152px;
	margin: 40px auto 0;
}

.question-club {
	float: left;
	width: 776px;
	margin-right: 48px;
}

.question_top {
	height: 96px;
	padding: 24px;
	background: url(http://static.mukewang.com/static/img/wenda_title_bg.png);;
}

.question_top span {
	display: inline-block;
	float: left;
	font-size: 24px;
	line-height: 48px;
	letter-spacing: 2px;
}

.question_top a {
	display: inline-block;
    float: right;
    width: 137px;
	height: 48px;
	line-height: 48px;
    font-size: 16px;
    color: #fff;
    background-color: #f01414;
    text-align: center;
    border-radius: 4px;
}

.question-sort-recommand {
	width: 328px;
	float: right;
}

.question-all {
    margin: 0;
}

.question-nav {
	padding: 24px;
	border-bottom: 1px solid #d9DDE1;
}

.question-nav a{
	margin-right: 50px;
	font-size: 16px;
	color:  #93999f;
}

.question-nav .active {
	color: #f01414;
}

a:hover {
	color: #000;
	text-decoration: none
}

.question-current-topic {
	height: 64px;
	margin-top: 2px;
	padding: 20px 24px;
	background: rgba(0, 140, 200, .1);
}

.current-topic {
	padding: 4px 10px;
	font-size: 12px;
	line-height: 24px;
	color: #fff;
	background: rgba(0, 140, 200, .6);
    border-radius: 12px;
}

.current-topic i {
	margin-left: 4px;
}

.current-topic:hover {
	color: #008cc8;
}

.topic-title {
	margin-left: 12px;
}

.topic-title:hover {
    color: #008cc8;;
}

/*问答列表*/
.question-answer {
	position: relative;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-left: 56px;
    border-bottom: 1px solid #d0d6d9;
}

.question-sort-icon {
	position: absolute;
	width: 40px;
    height: 40px;
	top: 25px;
	left: 0;
}

.question-sort-icon a {
	display: block;
}

.question-sort-icon a img{
	width: 100%;
    height: 100%;
}

.ques-tag {
	height: 20px;
	line-height: 20px;
	font-size: 12px;

}

.ques-tag span {
	margin-right: 16px;
}

.ques-title a {
	display: block;
	line-height: 28px;
    font-size: 18px;
    font-weight: 600;
	color: #14191e;
}

.answer-user {
	margin-top: 24px;
    height: 20px;
}

.answer-user .user-nickname {
	margin-right: 2px;
	font-size: 14px;
	font-weight: 600;
	color: #000;
}

.answer-user .answer-letter {
	font-size: 12px;
	color: #b5b9bc;
}

.answer-content {
	height: 28px;
	line-height: 28px;
	color: #14191e;
}

.ctrl-bar {
	margin-top: 16px;
	height: 26px;
}

.ctrl-bar span {
	margin-right: 20px;
	line-height: 24px;
	font-size: 12px;
	color: #787d82;
	cursor: pointer;
}

.ctrl-bar .agree-with {
	border: 1px solid #d0d6d9;
	height: 24px;
	padding: 4px 9px;
}

.ctrl-bar span b {
	font-weight: 400;
}

.ctrl-bar span em {
	font-style: normal;
}

.ctrl-bar .agree-with:hover {
    color: #14191e;
    border-color: #787d82;
}

.ctrl-bar span:hover {
	color: #14191e;
}

.share {
	display: inline-block;
}

.share .share-btn {
	/*margin-left: 0;
	padding: 4px 6px;*/
	font-size: 12px;
	color: #787d82;
	cursor: pointer;
}

.share .share-btn:hover {
	color: #14191e;
}

/*推荐分类*/
.question-sort-recommand {
	float: right;
	width: 328px;
}

.recommand-title {
	padding-top: 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #d9DDE1;
}

.recommand-title span {
	float: left;
	font-size: 16px;
}

.recommand-title a {
	float: right;
	font-size: 14px;
}

.question-sort-all {
	color: #787d82;
}

.question-sort-all:hover {
	color: #14191e;
}

ul {
	list-style: none;
}

.question-sort-recommand-list li {
    margin-top: 24px;
}

.question-sort-one {
	position: relative;
	padding: 0 50px;
}

.question-sort-one .sort-icon{
	position: absolute;
	width: 36px;
    height: 36px;
	left: 0;
	top: 0;
	/*overflow: hidden;*/
}

.question-sort-one .sort-icon a,
.question-sort-one .sort-icon a img {
	display: block;
	height: 100%;
}

.question-sort-one .question-sort {
	line-height: 16px;
	font-size: 16px;
	color: #000;
	font-weight: 600;
}

.question-sort-one .follow-number {
	margin-bottom: 0;
	font-size: 12px;
	color: #b5b9bc;
}

.question-sort-one .question-follow-btn {
	position: absolute;
	right: 0;
	top: 3px;
	padding: 0 10px;
	height: 28px;
	line-height: 28px;
	text-align: center;
    color: #787d82;
    border: 1px solid #d0d6d9;
}

.question-sort-one .question-follow-btn:hover {
	color: #14191e;
	border-color: #98a1a6;
}

.recommand-content {
	margin-top: 12px;
	color: #787d82;
}



